:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflowers: #e7e9fc;
  --white: #fff;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --navymodal: rgba(46, 47, 66, 0.4);
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  /* max-width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --Header-- */

.page-header {
  border-bottom: 1px solid var(--cornflowers);
  background: var(--white);
  padding: 24px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-wrapper {
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  /* align-items: center; */
  padding: 0;
}
.menu {
  list-style-type: none;
  gap: 40px;
  display: none;
}
.menu > a {
  margin-right: 76px;
}
.nav-active {
  position: relative;
  display: flex;
  color: var(--iris);
}
.nav-active::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.logo-web {
  font-family: "Raleway", serif;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--iris);
}
.header-logo {
  font-family: "Raleway", serif;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--navyblue);
  /* padding: 24px 0; */
}
.menu > li > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--navyblue);
}
.menu > li > a:hover,
.menu > li > a:focus {
  color: var(--ocean);
}
.contacts-links {
  display: none;
  list-style-type: none;
}
.contact-item {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--slate);
  letter-spacing: 0.02em;
}
.contacts > li > a:hover,
.contacts > li > a:focus {
  color: var(--ocean);
}
/*---------HEADER-MOBILE---------*/

.menu-button {
  border: none;
  background-color: transparent;
  display: block;
  margin-left: auto;
}
.burger-menu-icon {
  stroke: var(--navyblue);
}
.menu-container .modal-close-btn {
  background-color: transparent;
}
.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close-btn:hover {
  background-color: var(--iris);
  fill: var(--white);
  stroke: var(--white);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}
.mob-menu-item {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}
.current-1 {
  position: relative;
  color: var(--ocean);
}
.number {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--iris);
}
.email {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--lightslate);
}
.mob-address-contact {
  margin-bottom: 48px;
  font-style: normal;
}

.number-item {
  margin-bottom: 40px;
}

.mob-socials-list {
  display: flex;
  gap: 24px;
}

.mob-socials-item {
  display: flex;
  width: 40px;
  height: 40px;
  fill: var(--white);
  border-radius: 50%;
  background-color: var(--iris);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  fill: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-socials-icon {
  fill: var(--cloud);
}

/* ------------Main------------ */

.section-index {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  background-color: var(--navyblue);
  text-align: center;
  align-content: center;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-1x-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/office-2x-mob.jpg);
  }
}

.section-index > h1 {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02rem;
  text-align: center;
  max-width: 250px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
.button-index {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--iris);
  border: none;
}
.button-index:hover,
.button-index:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* SVG */

/* .advantages-svg {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--cloud);
} */
.section-one-icon {
  display: none;
  width: 64px;
  height: 64px;
}
.social-item {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  fill: var(--white);
  border-radius: 50%;
  background-color: var(--iris);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  fill: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/*------ADVANTAGES-------*/

.advantages-list > li > h2 {
  /* font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  margin: 0; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  align-self: stretch;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.advantages-list > li > p {
  /* font-size: 16px;
  line-height: 1.5;
  width: 264px;
  margin: 0; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 72px;
  margin: auto;
}
.advantage-item {
  width: 100%;
}

.section-two-wrapper {
  padding-top: 0;
}
.description {
  padding-bottom: 120px;
  display: none;
}
.section-two-wrapper > ul > li {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 360px;
  padding-top: 72px;
  gap: 8px;
}
.section-two-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin: 0;
}
.description-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 26px;
  padding: 0;
  margin: auto;
}
.section-team-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  padding-bottom: 72px;
  text-transform: capitalize;
  margin: 0px;
}
.team-item {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-item > figcaption {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;
}
.section-team {
  background-color: var(--cloud);
}
.team-item > figcaption > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0px;
}
.team-item > figcaption > p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 72px;
  justify-content: center;
}
.section-team-socials {
  display: flex;
  list-style-type: none;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

/*-------CUSTOMERS---------*/

.index-customers {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.customers-item {
  /* width: calc((100% - 120px) / 6); */
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
  cursor: pointer;
}

.customers-svg {
  fill: currentColor;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px;
  background-color: var(--cornflowers);
  color: var(--ocean);
  cursor: pointer;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  border: 1px;
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*--Portfolio--*/

.portfolio-buttons {
  padding-bottom: 0;
  padding-top: 96px;
}
.portfolio-buttons > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}
.portfolio-buttons > ul > li > button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}
.portfolio-list > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style-type: none;
}
.portfolio-buttons-list {
  list-style-type: none;
}
.portfolio-items-list {
  list-style-type: none;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}
.portfolio-card > img {
  display: block;
  width: 100%;
  height: 100;
  object-fit: cover;
}
.card-discription {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px 164px 32px;
  position: absolute;
  inset: 0;
  background-color: var(--iris);
  color: #fff;
  translate: 0 100% 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .card-discription {
  translate: 0;
}
.portfolio-link {
  display: block;
  width: 360px;
  border: 1px solid var(--cornflowers);
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
}
.portfolio-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding-bottom: 32px;
  border: 1px solid var(--cornflowers);
  border-top: none;
  padding: 32px 16px;
}
.tabs-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.tabs-text {
  font-size: 16px;
  line-height: 1.5;
  margin: 0px;
}
.section-portfolio {
  padding-top: 72px;
}
.portfolio-link {
  border: 1px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* --------Footer-------- */

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  padding-bottom: 96px;
}
.container-footer-logo {
  /* margin-right: 120px; */
  text-align: center;
}
.container-footer-logo > a {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 17.5px;
}
.footer {
  background-color: var(--navyblue);
}
.container-footer-logo > p {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
  /* padding-bottom: 100px; */
}
.footer-logo {
  font-family: "Raleway", serif;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--cloud);
}
.footer-social-list {
  display: flex;
  list-style-type: none;
  gap: 16px;
  justify-content: center;
}
.footer-social {
  /* display: flex;
  flex-direction: column; */
}
.footer-social-title {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.image:hover,
.image:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
  cursor: pointer;
}
.subscribe-footer {
  /* display: flex;
  margin-left: 80px; */
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-input {
  padding: 8px;
  padding-left: 16px;
  /* width: 264px; */
  width: 100%;
  background-color: transparent;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--white);
  padding-bottom: 16px;
}
.subscribe-form {
  /* display: inline-flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.subscribe-label {
  color: var(--white);
  width: 100%;
}
.subscribe-button {
  /* margin-left: 24px; */
  padding: 8px 24px;
  background-color: var(--iris);
  border-radius: 4px;
  color: var(--white);
  display: inline-flex;
  gap: 16px;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}
/* --MODAL-- */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.596);
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* width: 408px; */
  width: 300px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.modal-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--navyblue);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.modal-label {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
  color: var(--lightslate, #8e8f99);
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  fill: var(--navyblue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.7));
}

.modal-comment::placeholder {
  color: var(--lightslate);
  opacity: 0.5;
}

.modal-comment:focus {
  border: 1px solid var(--iris);
}

.modal-check-text {
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
  align-items: center;
}

.modal-check-link {
  color: var(--iris);
}

.modal-field-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-field-span {
  border-radius: 1px;
  border: none;
  background-color: var(--ocean);
  fill: var(--cloud);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.send-modal-btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background: var(--iris);
  background-color: var(--iris);
  display: block;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-modal-btn:hover,
.send-modal-btn:focus {
  background-color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--white);
  border: none;
  background-color: var(--ocean);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*--*/
